---
layout: page
title: Posts
background: '/blog/img/bg-post.jpg'
---

{% for post in site.posts %}

  <article class="post-preview">
<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' | absolute_url }}">
      <h3 class="h3">{{ post.title }}</h3>
      <small class="small text-muted">{{ post.date | date: '%B %d, %Y' }}</small>
    </a>
  </article>

  <hr>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}

  <div class="clearfix">

    {% if paginator.previous_page %}
<a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | absolute_url }}">&larr; Newer
  <span class="d-none d-md-inline"> Posts</span>
</a>
    {% endif %}

    {% if paginator.next_page %}
<a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | absolute_url }}">Older
  <span class="d-none d-md-inline"> Posts</span> &rarr;</a>
    {% endif %}

  </div>

{% endif %}
